@media (max-width: 520px){

    /* ======================top style start=============== */
    .top h2 {
        margin: auto;
        font-size: 1.8rem;
    }

    /*======================table style start===============*/
    table {
        width: 95%;
        height: 100%;
        margin: auto;
    }    

    table th {
        padding: 0.3rem;
        font-size: 0.8rem;
        font-weight: 500;
    }
    
    table td button {
        font-size: 0.7rem;
        font-weight: 500;
    }
    
    /*======================table down displayer form style start===============*/
    main .displayer {
        padding: 0.3rem;
    }

    .displayer h1 {
        font-size: 0.8rem;
        padding: 0.4rem 0;
    }    
        
    #classname,
    #classupdate,
    textarea {
        margin: 4px 0;
        padding: 3px;
    }
    
    #classname,
    #classupdate {
        font-size: 0.7rem;
    }
    
    textarea {
        height: 130px;
        font-size: 0.8rem;
    }
    
    form #sub,
    form button {
        font-size: 0.8rem;
        padding: 0.3rem;
    }

}
