* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    color: #000; 
    display: grid;
    grid-template-areas: 
        'header'
        'nav'
        'footer';
    grid-template-rows: auto 1fr auto;
    font-family: 'Poppins', sans-serif;
}

header {
    grid-area: header;
    width: 100%;
    background-color: #000; 
    color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); 
    padding: 1rem 0;
    text-align: center;
}

header .top {
    width: 90%;
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-between;
}

header .top h2 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0 2px 10px rgba(255, 255, 255, 0.3); 
}

header .top a {
    margin-right:0.5rem;
}

header .top a img {
    height: 3rem;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

header .top a img:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(221, 211, 211, 0.2); 
}

/* ========== Navigation of lab and incharge parts css ========== */
nav {
    grid-area: nav;
    margin: 2rem auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

nav ul {
    margin: auto;
    list-style-type: none;
    padding: 0;
    width: 40%;
}

nav ul li {
    margin: 0.8rem 0;
}

nav ul li a {
    display: block;
    padding: 1rem;
    background-color: #1a1a1a; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); 
    color: #ffffff; 
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

nav ul li a:hover {
    background-color: rgb(50, 50, 50); 
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4); 
}

/* ========== Footer part css ========== */
footer {
    grid-area: footer;
    width: 100%;
    background-color: #000; 
    color: #ffffff; 
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.5);
}

footer .footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

footer .footer .details {
    font-size: 1.2rem;
    font-weight: 400;
    text-shadow: 0 2px 8px rgba(255, 255, 255, 0.2); 
}

/* ========== Responsive design for mobile desktop view and tab also ========== */
@media (min-width: 521px) and (max-width: 1250px) {     
    header .top h2 {
        font-size: 3rem;
    }

    header .top a img {
        height: 3.5rem;
    }
    
    nav {
        margin: 1.5rem auto;
        width: 90%;
        gap: 1rem;
    }
    
    nav ul {
        width: 60%;
    }

    nav ul li {
        margin: 1.5rem 0;
    }
            
    nav ul li a {
        padding: 1rem;
        font-size: 1.8rem;
    }

    footer {
        padding: 0.7rem 0;
    }
    
    footer .footer {
        width: 90%;
    }
    
    footer .footer .details {
        font-size: 1.2rem;
        font-weight:400;
    }
}

/* ========== Responsive design for mobile view ========== */
@media (max-width:520px) {
    header {
        padding: 0.6rem 0;
    }
    
    header .top {
        width: 90%;
        margin: 0.3rem auto;
    }
    
    header .top h2 {
        font-size: 1.5rem;
    }

    header .top a img {
        height: 1.5rem;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    nav {
        margin: 0.8rem auto;
        gap: 1rem;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
        width: 75%;
    }
    
    nav ul li {
        margin: 0.6rem 0;
    }
    
    nav ul li a {
        padding: 0.7rem;
        font-size: 0.7rem;
    }

    footer {
        padding: 0.5rem 0;
    }
    
    footer .footer {
        width: 95%;
    }
    
    footer .footer .details {
        font-size: 0.5rem;
        font-weight:400;
    }
}
